# Table 2 - Descriptive Statistics

## IPEDS Fall 2022 Enrollment for Colleges and Universities

In [117]:
use data/hd_efa_2022, clear

In [118]:
%head

,unitid,iclevel,ccbasic,fips,control,eftotlt,efbkaat,efwhitt,pcteftotlt,pctefbkaat,pctefwhitt
1,100654,1,18,1,1,5206,4658,103,5206,4658,103
2,100663,1,15,1,1,13032,3309,6661,13032,3309,6661
3,100690,1,21,1,2,228,151,65,228,151,65
4,100706,1,15,1,1,7169,640,5036,7169,640,5036
5,100724,1,18,1,1,3296,3049,51,3296,3049,51

In [119]:
* Only required if there is no tables folder
* mkdir tables

In [120]:
/* label variable unitid "Institutional Number"
label variable control "Classification of Institutional Operation"
label variable iclevel "Institutions Program Time-Lines"
label variable fips "FIPS State Code"
label variable ccbasic "Carnegie Classification of Institution"
label variable instnm "Institutions Name"
label variable hloffer "Highest Level of Offering"
label variable hdegofr1 "Highest Degree Offered"
label variable eftotlt "Total Number of Students Enrolled for Fall"
label variable eftotlm "Total Number of Men"
label variable eftotlw "Total Number of Women"
label variable efasiaw "Total Number of Asian Women"
label variable efbkaaw "Total Number of Black Women"
label variable efhispw "Total Number of Hispanic Women"
label variable efnhpiw "Total Number of Native Hawaiian or Other Pacific Islander Women"
label variable efwhitw "Total Number of White Women"
label variable ef2morw "Total Number of Women of Two or More Races"
label variable efasiam "Total Number of Asian Men"
label variable efbkaam "Total Number of Black Men"
label variable efhispm "Total Number of Histpanic Men"
label variable efnhpim "Total Number of Native Hawaiian or Other Pacific Islander Men"
label variable efwhitm "Total Number of White Men"
label variable ef2morm "Total Number of Men of Two or More Races"
label variable efbkaat "Total Number of Black Students"
label variable efwhitt "Total Number of White Students" */

In [121]:
/* gen pcteftotlt=eftotlt
gen pcteftotlm=eftotlm
gen pcteftotlw=eftotlw
gen pctefasiaw=efasiaw
gen pctefbkaaw=efbkaaw
gen pctefhispw=efhispw
gen pctefnhpiw=efnhpiw
gen pctefwhitw=efwhitw
gen pctef2morw=ef2morw
gen pctefasiam=efasiam
gen pctefbkaam=efbkaam
gen pctefhispm=efhispm
gen pctefnhpim=efnhpim
gen pctefwhitm=efwhitm
gen pctef2morm=ef2morm
gen pctefbkaat=efbkaat
gen pctefwhitt=efwhitt */

In [122]:
/* label variable pcteftotlt "Percent of Students"
label variable pcteftotlw "Percent of Male Students"
label variable pcteftotlw "Percent of Female Student"
label variable pctefasiaw "Percent of Asian Female Students"
label variable pctefbkaaw "Percent of Black Female Students"
label variable pctefhispw "Percent of Hispanic Female Students"
label variable pctefnhpiw "Percent of Native Hawaiian or Other Pacific Islander Female Students"
label variable pctefwhitw "Percent of White Female Students"
label variable pctef2morw "Percent of Two or More Race Female Students"
label variable pctefasiam "Percent of Asian Male Students"
label variable pctefbkaam "Percent of Black Male Students"
label variable pctefhispm "Percent of Hispanic Male Students"
label variable pctefnhpim "Percent of Native Hawaiian or Other Pacific Islander Male Students"
label variable pctefwhitm "Percent of White Male Students"
label variable pctef2morm "Percent of Two or More Race Female Students"
label variable pctefbkaat "Percent of Black Students"
label variable pctefwhitt "Percent of White Students" */

In [123]:
gen status=.

replace status=1 if control==1
replace status=0 if control==2
replace status=0 if control==3

(6,256 missing values generated)
(2,019 real changes made)
(1,855 real changes made)
(2,352 real changes made)

In [124]:
label variable status "Public Control"

In [125]:
gen status1=.

replace status1=0 if control==1
replace status1=1 if control==2
replace status1=0 if control==3

(6,256 missing values generated)
(2,019 real changes made)
(1,855 real changes made)
(2,352 real changes made)

In [126]:
label variable status1 "Private Not-For-Profit Control"

In [127]:
gen collegelvl=.

replace collegelvl=1 if iclevel==2
replace collegelvl=0 if iclevel==1
replace collegelvl=0 if iclevel==3
replace collegelvl=0 if iclevel==-3

(6,256 missing values generated)
(1,605 real changes made)
(2,868 real changes made)
(1,753 real changes made)
(30 real changes made)

In [128]:
label variable collegelvl "2 Year College"

In [129]:
est clear

eststo: quietly estpost summarize efbkaat collegelvl status status1 eftotlt efwhitt, listwise

esttab, cells("mean(fmt(%9.2fc))" sd(par)) label stats(N, fmt(%9.0fc))

(est1 stored)

---------------------------------
                              (1)

                          mean/sd
---------------------------------
Total Number of Bl~s       340.01
                         (944.40)
2 Year College               0.27
                           (0.45)
Public Control               0.34
                           (0.47)
Private Not-For-Pr~l         0.28
                           (0.45)
Total Number of St~e     2,797.93
                       (6,426.77)
Total Number of Wh~s     1,303.19
                       (3,204.11)
---------------------------------
N                           5,706
---------------------------------

In [130]:
qui esttab using tables/t2_descriptive_stats.rtf, ///
cells ("mean(fmt(2))" sd(par)) label replace ///
title(Table 2: Descriptive Statistics)