In [1]:
!java -version

openjdk version "22.0.1" 2024-04-16
OpenJDK Runtime Environment (build 22.0.1+8-16)
OpenJDK 64-Bit Server VM (build 22.0.1+8-16, mixed mode, sharing)

### This downloads and adds OpenJDK Java stuff to Java directory

In [ ]:
!curl "https://download.java.net/java/GA/jdk22.0.1/c7ec1332f7bb44aeba2eb341ae18aca4/8/GPL/openjdk-22.0.1_macos-x64_bin.tar.gz" | tar zxf -

### This is where you should put it

In [ ]:
!mv jdk-22.0.1.jdk /Library/Java/JavaVirtualMachines/

In [2]:
!pip install -q tabula-py

In [3]:
!pip install jpype1

Requirement already satisfied: jpype1 in /Users/Charlie/opt/anaconda3/lib/python3.8/site-packages (1.5.0)
Requirement already satisfied: packaging in /Users/Charlie/opt/anaconda3/lib/python3.8/site-packages (from jpype1) (20.9)
Requirement already satisfied: pyparsing>=2.0.2 in /Users/Charlie/opt/anaconda3/lib/python3.8/site-packages (from packaging->jpype1) (2.4.7)

In [4]:
import tabula
import pandas as pd

### This tells your Python profile where to find the Java JDK contents

In [4]:
!echo export "JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk-22.0.1.jdk/Contents/Home" >> ~/.zshrc

In [5]:
pdf_path = "24-00371 PRA Response.pdf"

In [6]:
df_cols1to3 = tabula.read_pdf(pdf_path, multiple_tables=True, pages=[15,19,24,25],
    pandas_options={'header': None})

In [7]:
dfconcat_cols1to3 = pd.concat(df_cols1to3)

dfconcat_cols1to3['row'] = dfconcat_cols1to3.reset_index().index

In [8]:
df_cols4to6 = tabula.read_pdf(pdf_path, multiple_tables=True, pages=[16,20,26,27],
    pandas_options={'header': None})

dfconcat_cols4to6 = pd.concat(df_cols4to6)

dfconcat_cols4to6['row'] = dfconcat_cols4to6.reset_index().index

In [9]:
df_cols7to9 = tabula.read_pdf(pdf_path, multiple_tables=True, pages=[17,21,28,29],
    pandas_options={'header': None})

dfconcat_cols7to9 = pd.concat(df_cols7to9)

dfconcat_cols7to9['row'] = dfconcat_cols7to9.reset_index().index

In [10]:
df_ftb_merge_cols1to3_7to9 = dfconcat_cols1to3.merge(dfconcat_cols7to9,on='row')

In [11]:
df_ftb_merge_cols1to3_7to9 = df_ftb_merge_cols1to3_7to9.rename(columns=
    {'0_x': 'agency', '1_x': 'pit_count', '2_x': 'pit_amount', 
     '1_y': 'all_count', '2_y': 'all_amount'})

In [12]:
df_ftb_merge_cols1to3_7to9.dropna(subset=['agency'], inplace=True)

In [13]:
df_ftb_merge_cols1to3_7to9 = df_ftb_merge_cols1to3_7to9.drop(columns=['row', '0_y'])

In [14]:
pd.set_option('display.max_rows', None)

In [15]:
df_ftb_merge_cols1to3_7to9

,agency,pit_count,pit_amount,all_count,all_amount
0,CALF STATE POLYTECHNIC UNIVERSITY,534,"$140,825.24",546,"$143,027.04"
1,CALIFORNIA STATE UNIV NORTHRIDGE,"1,056","$328,633.46","1,099","$341,169.88"
2,"UNIVERSITY OF CALIFORNIA, OP","3,139","$1,401,548.97","3,218","$1,412,893.93"
3,CSU SACRAMENTO,665,"$176,150.92",685,"$177,456.73"
4,UCLA,381,"$50,701.63",388,"$51,390.12"
5,"CSU, BAKERSFIELD",608,"$167,703.71",630,"$172,614.60"
6,"UNIVERSITY OF CALIFORNIA, RIVERSIDE",674,"$263,721.21",700,"$269,411.04"
7,UC SANTA BARBARA,299,"$43,273.59",301,"$43,414.02"
8,CSU MARITIME ACADEMY,29,"$21,760.83",31,"$22,182.28"
9,FRESNO STATE,75,"$9,173.41",77,"$9,430.41"
10,CALIF. STATE UNIV. MONTEREY BAY,2,$251.11,3,$347.78
11,UCLA DEBT MANAGEMENT SERVICES (DMS),694,"$270,251.92",738,"$274,722.18"
12,CSU DOMINGUEZ HILLS,87,"$10,313.19",89,"$10,984.19"
13,"UNIVERSITY OF CALIFORNIA, BERKELEY",200,"$93,625.89",204,"$94,289.60"
14,CSU NORTHRIDGE,202,"$26,224.47",209,"$26,757.28"
15,"UNIVERSITY OF CALIFORNIA, DAVIS",656,"$188,773.41",668,"$189,615.02"
18,UMASS GLOBAL,711,"$379,398.85",732,"$381,144.10"
19,UNIVERSITY OF REDLANDS,66,"$39,289.43",68,"$40,102.43"
20,NOTRE DAME DE NAMUR UNIVERSITY,42,"$14,806.76",43,"$14,833.13"
21,UNIVERSITY OF SOUTHERN CALIF.,220,"$112,150.82",235,"$115,111.20"
22,PEPPERDINE UNIVERSITY,25,"$23,058.06",25,"$23,058.06"
23,STANFORD UNIVERSITY,19,"$13,659.39",19,"$13,659.39"
24,SANTA CLARA UNIVERSITY,69,"$8,703.57",69,"$8,703.57"
25,UNIVERSITY OF LA VERNE,122,"$43,587.36",124,"$44,509.15"
26,BIOLA UNIVERSITY,8,"$2,264.33",8,"$2,264.33"
27,WHITTIER COLLEGE,104,"$60,308.73",110,"$61,948.98"
28,LOMA LINDA UNIVERSITY,35,"$25,458.37",35,"$25,458.37"
29,LOYOLA MARYMOUNT UNIVERSITY,272,"$139,692.59",280,"$139,807.24"
30,SAINT MARY'S COLLEGE OF CA,28,"$12,825.79",29,"$13,825.79"
31,LA SIERRA UNIVERSITY,48,"$15,481.51",48,"$15,481.51"
32,CA COLLEGE OF ARTS,13,"$3,580.13",14,"$3,774.25"
33,CHAPMAN UNIVERSITY,43,"$18,294.08",44,"$18,856.08"
36,CYPRESS COLLEGE,140,"$11,446.54",141,"$11,447.54"
37,SOLANO COMMUNITY COLLEGE,82,"$9,063.94",84,"$9,146.20"
38,PALOMAR COLLEGE,57,"$7,255.46",59,"$7,449.46"
39,SAN FRANCISCO STATE UNIVERSITY,79,"$8,521.70",79,"$8,521.70"
40,PASEDENA CITY COLLEGE,57,"$4,073.00",59,"$4,123.35"
41,CSU SACRAMENTO,67,"$5,758.46",70,"$6,007.21"
42,SAN JOSE EVERGREEN CCD,33,"$3,005.08",33,"$3,005.08"
43,UC SANTA CRUZ,76,"$8,417.29",77,"$8,471.24"
44,CHAFFEY COLLEGE,60,"$5,232.00",63,"$5,339.76"
45,LOS ANGELES VALLEY COLLEGE,59,"$4,872.47",66,"$5,253.64"
46,IRVINE VALLEY COLLEGE,63,"$5,109.44",65,"$5,235.03"
47,RIVERSIDE COMMUNITY COLLEGE DIST,94,"$10,901.99",96,"$10,986.99"
48,GOLDEN WEST COLLEGE,108,"$7,734.15",110,"$8,036.15"
49,ORANGE COAST COLLEGE,67,"$4,227.50",71,"$4,447.50"
50,COASTLINE COMMUNITY COLLEGE,10,$819.00,10,$819.00
51,MARIN COMMUNITY COLLEGE,22,"$3,753.34",22,"$3,753.34"
52,NAPA VALLEY COLLEGE POLICE DEPT,27,"$2,268.00",27,"$2,268.00"
53,CERRO COSO COLLEGE,10,$662.00,10,$662.00
54,BAKERSFIELD COLLEGE,177,"$16,872.49",181,"$17,149.68"
55,PORTERVILLE COLLEGE,52,"$2,969.00",52,"$2,969.00"
56,SAN JOSE STATE UNIVERSITY,482,"$159,078.42",501,"$162,646.41"
57,"CSU, LONG BEACH",978,"$297,701.39","1,016","$302,938.86"
58,"CSU, LOS ANGELES","1,200","$315,038.77","1,229","$319,558.61"
59,SAN DIEGO STATE UNIVERSITY,740,"$202,194.88",749,"$203,161.75"
60,"CAL STATE UNIVERSITY, EAST BAY","1,158","$365,985.39","1,184","$371,658.32"
61,"CALIFORNIA STATE UNIVERSITY,FRESNO",389,"$100,781.16",391,"$100,845.61"
62,CALIFORNIA STATE UNIVERSITY CHICO,427,"$128,113.30",445,"$132,201.20"
63,"CSU, STANISLAUS",373,"$97,451.63",384,"$97,870.33"
64,CALIFORNIA STATE UNIVERSITY,"1,164","$405,009.41","1,202","$417,671.78"
65,"CALIF STATE UNIV, SAN BERNARDINO",41,"$20,777.41",43,"$20,835.92"
66,HUMBOLDT STATE UNIVERSITY,381,"$68,270.31",386,"$68,512.43"
67,CALIFORNIA STATE UNIVERSITY,"1,697","$351,371.94","1,763","$364,174.56"
68,SAN FRANCISCO STATE UNIVERSITY,999,"$281,839.18","1,014","$284,313.52"
69,SONOMA STATE UNIVERSITY,27,"$12,310.05",28,"$12,735.15"
70,CA COMMUNITY COLLEGES,"58,216","$8,618,243.85","59,363","$8,751,968.62"
71,CA STATE UNIVERSITY SAN MARCOS,381,"$110,263.14",388,"$114,886.27"
72,CSU MONTEREY BAY,154,"$48,490.86",162,"$50,099.86"
73,CSU SAN BERNARDINO,195,"$19,202.90",204,"$19,693.91"
74,CSU CHANNEL ISLANDS,115,"$23,061.70",116,"$23,230.10"
75,MT SAN ANTONIO COLLEGE,254,"$31,319.82",264,"$31,641.39"
76,CALIF POLYTECHNIC STATE UNIVERSITY,111,"$35,865.07",116,"$36,228.75"
77,SAN MATEO COMMUNITY COLLEGE DIST,124,"$18,343.57",130,"$18,519.51"

In [16]:
df_ftb_merge_cols1to3_7to9.to_csv(
    "d_ftb_offset_2019_pra.csv", index=False)